/* CSS declarations go here */

@font-face {
    font-family: 'Circular Std';
    /* src: url('https://sp-bootstrap.global.ssl.fastly.net/7.2.0/fonts/circular-light.woff2') format('woff2'); /* Super Modern Browsers */
}

body {
    font-family: 'Circular Std', "Helvetica Neue", sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
    color: white;
}

.gradient {
    width: 100%;
    height: 100%;
    background: #3494E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3494E6 , #EC6EAD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3494E6 , #EC6EAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
}

header {
  padding: 20px;
    padding-top: 80px;
  position: relative;
    text-align: center;
    padding-bottom: 11px;
}

.tempTracks {
    background: transparent;
    overflow: hidden;
    z-index: 999;
    position: absolute;
    width: 600px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 3em;
  margin: 0;
    color: white;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
    height: 50px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius: 25px;
  box-sizing: border-box;
  padding: 10px 30px 10px 30px;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
    background-color:rgba(0,0,0, 0.2);
    color: white;

}

.new-task input:focus{
    background-color:rgba(0,0,0, 0.1);
    outline: 0;
}

.new-task input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

table {
  width: 100%;
    margin: 0;
  padding: 0;
    background-color:rgba(255, 255, 255, 0.2);
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

ul {
    margin-top: 0;
    margin-right: 40px;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
    background: rgba(0,0,0,0.3);
  border-bottom: rgba(255,255,255,0.2) solid 1px;
}

li:hover {
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}

.songname {
    color: white;
}

.artist {
    color: rgba(255,255,255,0.5);
    margin-left: 6px;
    font-size: 12px;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.loginOutButton {
    float:right;
    margin: 15px;
    background-color: transparent;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,0.5);
    border: 1px solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    height: 30px;
    cursor: pointer;
}

.loginOutButton:hover {
    color: white;
    border-color: white;
}

.dropbtn {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 1px;
    background-color: transparent;
    outline: none;
    color: rgba(255,255,255,0.5);
    border: 1px solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    height: 30px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    left: -85px;
}

.dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px rgba(255,255,255,0.2) solid;
}

.dropdown-content a:hover {
    background-color: rgba(0,0,0,0.15);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
    border-color: white;
}

.now-playing {
    text-align: center;
    position: absolute;
    z-index: 500;
    width: 700px;
    margin-top: 50px;
}

.now-playing-small-text {
    color: rgba(255,255,255,0.5);
    text-align: center;
}

.now-playing-big-text {
    color: white;
    font-size: 24px;
    margin: 0;
}

.now-playing-img {
    height:70px;
    width:70px;
    background:white;
    border-radius: 35px;
    border: none;
    margin-top: 12px;
    margin-right: auto;
    margin-left:auto;
    display: block;
}

.set-playlist {
    margin-top: 180px;
}

.playlist-name-input {
    height: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: white solid 1px;
    outline: none;
    width: 90%;
    padding-right: 80px;
    font-size: 30px;
    background-color:transparent;
    color: white;
    font-family: 'Circular Std', "Helvetica Neue", sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.2);
}

.single-login-button {float:right;
    margin: 15px;
    background-color: transparent;
    outline: none;
    overflow: hidden;
    color: rgba(255,255,255,0.5);
    border: 1px solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    padding:6px;
}

.single-login-button:hover {
    color: white;
    border-color: white;
}

.spotify-img {
    position: absolute;
    clip: rect(0px,100px,100px,0px);
    width: 300px;
    left: 300px;
}